
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .images {
        border: 0;
        font-size: 0;
        line-height: 0;
        max-width: 100%;
    }
</style>
<div class="row2 mb-2" style="padding-top:10px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="title_news_detail mb10" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 50px;color: #00609c;margin: 0;">
            Người Việt sắp được quan sát hiện tượng mưa sao băng kỳ thú
        </h1>
        <h2 class="description">Trong tháng 8 nhiều hiện tượng thiên văn kỳ thú sẽ diễn ra giúp những người yêu thiên văn có cơ hội trải nghiệm.</h2>
        <article class="content_detail fck_detail width_common block_ads_connect">
            <p class="Normal">
                <strong>Nhật thực một phần</strong>
            </p><p class="Normal">
                Hiện tượng này diễn ra ngày 11/8. Những khu vực có thể quan sát được gồm: đông bắc Canada; Greenland; cực bắc châu Âu; bắc và đông châu Á. Trong đó, phía bắc nước Nga là điểm thuận lợi để chiêm ngưỡng hơn cả, với độ che phủ lớn nhất là 68%.
            </p><p class="Normal">
                Nhật thực một phần xảy ra khi Mặt Trăng che phủ một phần Mặt Trời, trông giống như một chiếc bánh hình tròn bị gặm một góc.
            </p><table class="tplCaption" style="max-width: 100%; margin: 10px auto;" cellspacing="0" cellpadding="3" border="0" align="center">
                <tbody>
                    <tr>
                        <td>
                            <img class="images"alt="Mặt Trăng đi qua giữa Mặt Trời và Trái Đất gần giai đoạn nhật thực một phần, được nhìn từ phía thành phố West Alton, bang Missouri. Ảnh: AP" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2018/08/02/nhatthuc-3257-1533184685.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Nhật thực một phần&nbsp;được nhìn từ&nbsp;thành phố West Alton, bang Missouri, Mỹ. Ảnh: <em>AP.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                <span>Theo tài liệu của NASA, người xem cần quan sát t</span><span>hông qua các kính lọc Mặt Trời chuyên dụng hoặc bằng&nbsp;</span><span>phương pháp gián tiếp qua màn chắn hoặc chậu nước pha mực.</span>
            </p><p class="Normal">
                <strong>Mưa sao băng Anh Tiên (Perseids)</strong>
            </p><p class="Normal">
                Là một trong hai trận mưa sao băng lớn nhất năm có thể đạt cực điểm 100 vệt mỗi giờ, mưa sao băng Perseids diễn ra hằng năm từ 17/7 đến 24/8. Theo các nhà thiên văn, năm nay cực điểm của nó diễn ra vào đêm 12, rạng sáng 13/8 và Việt Nam có thể quan sát.
            </p><p class="Normal">
                Để thấy các vệt sao băng, Câu lạc bộ thiên văn nghiệp dư Hà Nội khuyên nếu điều kiện thời tiện thuận lợi, người xem có thể quan sát bằng mắt thường, tìm địa điểm an toàn, thoáng tầm mắt, tránh xa ánh đèn.
            </p><p class="Normal">
                Thời gian quan sát tốt nhất là sau nửa đêm. Sao băng xuất hiện từ phía chòm sao Perseus (Anh Tiên), nhưng cũng có thể ở bất cứ nơi nào trên bầu trời.
            </p><p class="Normal">
                Các sao băng Perseids có nguồn gốc từ tàn dư sao chổi Swift-Tutle, được phát hiện năm 1862.&nbsp;
            </p><p class="Normal">
                <strong>Ly giác cực đại của Sao Kim và Sao Thủy</strong>
            </p><p class="Normal">
                Ngày 17/8, Sao Kim sẽ ở vị trí ly giác cực đại phía đông l<span>ớn nhất lên đến 45,9 độ tính từ Mặt Trời. Đ</span><span>ây là thời điểm tốt nhất để quan sát Sao Kim, bởi lúc này nó sẽ ở vị trí cao nhất trên đường chân trời buổi tối. Người yêu thiên văn hãy quan sát hành tinh rực sáng này ở thấp đường chân trời phía tây sau khi Mặt Trời lặn.</span>
            </p><p class="Normal">
                <span style="color:rgb(34,34,34);">Đến ngày 26/8, Sao Thủy</span><span style="color:rgb(34,34,34);">&nbsp;đạt ly giác phía tây lớn nhất lên đến 18,3 độ tính từ Mặt Trời.&nbsp;</span><span>Đây là thời điểm tốt nhất để quan sát Sao Thủy khi nó sẽ ở vị trí cao nhất vào buổi sáng. Người xem sẽ thấy&nbsp;</span><span>hành tinh này ở thấp đường chân trời phía đông trước khi Mặt Trời mọc.</span>
            </p><p class="Normal">
                <strong><span style="color:rgb(34,34,34);">Trăng tròn</span></strong>
            </p><p class="Normal">
                Ngày 26/8, Mặt Trăng sẽ nằm ở vị trí xung đối với Trái Đất và Mặt Trời. Nó sẽ phản xạ tối đa ánh sáng của Mặt Trời khi nhìn từ Trái Đất.
            </p><table class="tplCaption" style="width: 500px; max-width: 100%; margin: 10px auto;" cellspacing="0" cellpadding="3" border="0" align="center">
                <tbody>
                    <tr>
                        <td>
                            <img class="images" alt="iStockphoto.com/selimaksan" data-natural-width="500" src="https://i-vnexpress.vnecdn.net/2018/08/02/trangtron-3013-1533184685.jpg" data-width="500" data-pwidth="500">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Ảnh: <em>iStockphoto.com/selimaksan.</em>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table><p class="Normal">
                Lần Trăng tròn này được biết đến bởi các bộ lạc bản địa cổ ở Mỹ với tên gọi Trăng cá tầm, bởi vào thời gian này những con cá tầm lớn ở Hồ Lớn (Great Lakes) và những hồ khác dễ săn bắt hơn. Nó còn có tên gọi là Trăng ngô xanh hay Trăng lúa.
            </p><p class="Normal" style="text-align:right;">
                <strong>Phạm Hương </strong><em>tổng hợp</em>
            </p>
        </article>


    </div>
    <div class="col-md-2"></div>
</div>

