
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 50px;color: #0075bf;margin: 0;">Tin Tức</h2>
<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/03/clem-onojeghuo-127166-unsplash-1-500x333.jpg " style="width:100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="news-title">
                            <a href="#"><h5>Uneasy no settle whence nature narrow in afraid</h5></a>
                        </div>
                        <div class="news-cats">
                            <ul class="list-unstyled list-inline mb-1">
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Advertisment</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Author</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>4th July 2018</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-content">
                            <p>Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. S... </p>
                        </div>
                        <div class="news-buttons">
                            
                            <a href="~/Home/NewsDetail" class="btn btn-outline-danger btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/03/clem-onojeghuo-127166-unsplash-1-500x333.jpg " style="width:100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="news-title">
                            <a href="#"><h5>Uneasy no settle whence nature narrow in afraid</h5></a>
                        </div>
                        <div class="news-cats">
                            <ul class="list-unstyled list-inline mb-1">
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Advertisment</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Author</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>4th July 2018</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-content">
                            <p>Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. S... </p>
                        </div>
                        <div class="news-buttons">

                            <a href="~/Home/NewsDetail" class="btn btn-outline-danger btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/03/clem-onojeghuo-127166-unsplash-1-500x333.jpg " style="width:100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="news-title">
                            <a href="#"><h5>Uneasy no settle whence nature narrow in afraid</h5></a>
                        </div>
                        <div class="news-cats">
                            <ul class="list-unstyled list-inline mb-1">
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Advertisment</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Author</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>4th July 2018</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-content">
                            <p>Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. S... </p>
                        </div>
                        <div class="news-buttons">

                            <a href="~/Home/NewsDetail" class="btn btn-outline-danger btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/03/clem-onojeghuo-127166-unsplash-1-500x333.jpg " style="width:100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="news-title">
                            <a href="#"><h5>Uneasy no settle whence nature narrow in afraid</h5></a>
                        </div>
                        <div class="news-cats">
                            <ul class="list-unstyled list-inline mb-1">
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Advertisment</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Author</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>4th July 2018</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-content">
                            <p>Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. S... </p>
                        </div>
                        <div class="news-buttons">

                            <a href="~/Home/NewsDetail" class="btn btn-outline-danger btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.3forty.media/cannix/wp-content/uploads/2018/03/clem-onojeghuo-127166-unsplash-1-500x333.jpg " style="width:100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="news-title">
                            <a href="#"><h5>Uneasy no settle whence nature narrow in afraid</h5></a>
                        </div>
                        <div class="news-cats">
                            <ul class="list-unstyled list-inline mb-1">
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Advertisment</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>Author</small> </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open text-danger"></i>
                                    <a href="#"><small>4th July 2018</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="news-content">
                            <p>Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. S... </p>
                        </div>
                        <div class="news-buttons">

                            <a href="~/Home/NewsDetail" class="btn btn-outline-danger btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>