@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row2 mb-2 justify-content-center" style="padding-top:10px;">
    <div class="col-md-8">
        <h2 class="title_news_detail mb10 Question-title" style="background-image: url(/Resources/Images/Light-Bulb-question_background_banner.jpg);background-repeat: no-repeat">
            HIỆU CHUẨN LÀ GÌ?
        </h2>
        <div id="block-system-main" class="block block-system ">
            <div class="block-content clearfix">
                <div id="node-529" class="node node-san-pham vi clearfix">
                    <div class="content" style="padding-left:10px;padding-right:10px;">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div style="font-weight: normal;">
                                @*<p class="rtejustify">
                                        <span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>HIỆU CHUẨN LÀ GÌ?</strong></span></span>
                                    </p><p class="rtejustify">*@
                                <span style="font-family:arial,helvetica,sans-serif; font-size:14px">Hiệu chuẩn phương tiện đo là thiết lập mối tương quan giữa đo lường và phương tiện đo. Hiệu chuẩn liên quan tới xác định các đặc tính đo lường của một phương tiện đo. Thực hiện thông qua việc so sánh trực tiếp với những chuẩn đã biết.</span>
                                @*</p>*@
                                <p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Một chứng chỉ hiệu chuẩn được cấp và được gắn tem. Trong chứng nhận hiệu chuẩn sẽ cung cấp kết quả đo, từ kết quả đó người sử dụng phải xem có nằm trong dung sai của bên mình sử dụng hay không.</span></span></p>
                                <p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Dung sai ở đây có thể gọi là sai số cho phép của thiết bị. Khi mua một thiết bị đo lường thì chúng ta sẽ có thông số kỹ thuật của nhà sản xuất, trong đó sẽ có sai số của thiết bị. Nhưng sử dụng theo thời gian sai số đó không đạt nữa thì chúng ta nên cho một sai số phù hợp với sản phẩm của chúng ta. Thông thường sai số của Nhà Sản Xuất lúc nào cũng nhỏ hơn 1/3 hay 1/4 lần so với sai số của người sử dụng. (Nên trước khi mua thiết bị đo chúng ta nên xem xét kỹ lưỡng để chọn thiết bị nào phù hợp với sản phẩm).</span></span></p>
                                <p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Nếu như&nbsp;sai số của bên hiệu chuẩn cấp&nbsp;cho&nbsp;mình lớn hơn sai số của Nhà Sản Xuất thì nên thay thế hay cộng hoặc trừ sai số vào kết quả sau khi đo sản phẩm để được giá trị đo tin cậy nhất. (Ngoài từ sai số ra còn có một vài từ ngữ khác như độ lệch, số hiệu chính… Mỗi từ ngữ có nguyên tắc cộng hay trừ khác nhau nên khi sử dụng chúng ta nên xem xét kỹ phần tính toán số liệu cho đúng).</span></span></p>
                                <p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Ví dụ: Thước cặp khi đem đi hiệu chuẩn về có độ lệch so sánh với chuẩn ở mức 100 mm là 0.10 mm</span></span></p>
                                <table cellspacing="0" cellpadding="0" border="1" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="width:133px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>Giá trị chuẩn</strong></span></span></p>
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>mm</strong></span></span></p>
                                            </td>
                                            <td style="width:274px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>Giá trị đo của thiết bị (thước kẹp)</strong></span></span></p>
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>mm</strong></span></span></p>
                                            </td>
                                            <td style="width:199px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>Độ lệch</strong></span></span></p>
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>mm</strong></span></span></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:133px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">100.0002</span></span></p>
                                            </td>
                                            <td style="width:274px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">99.90</span></span></p>
                                            </td>
                                            <td style="width:199px">
                                                <p class="rtecenter"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">-0.10</span></span></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><p class="rtejustify"><span style="font-family:arial,helvetica,sans-serif; font-size:14px">Vậy thước cặp của chúng ta sau thời gian dài sử dụng hay tần suất sử dụng nhiều bị mòn hay khuyết… và được bên Hiệu Chuẩn cấp chứng nhận cho số liệu như trên. Thì khi ta đo sản phẩm được kết quả 99.50 mm ta phải trừ cho độ lệch để được kết quả tin cậy nhất.</span></p><p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Tại sao phải trừ ? Vì thước cặp đang thiếu mất -0.10.</span></span></p><p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong>Kết quả: </strong>99.50-(-0.10)=99.60 mm (đây là kết quả tin cậy nhất)</span></span></p><p class="rtejustify"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif"><strong><u>Tóm lại:</u></strong> Hiệu chuẩn là sự tự nguyện không có tính chất bắt buộc như kiểm định nhưng về bản chất kỹ thuật giữa hiệu chuẩn và kiểm định là giống nhau.</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
