
@{
    ViewBag.Title = "SanPham";
}

<h2>SanPham</h2>
<style>
    #lvcontainer{
        margin-left:10px;
        display:inline-block;
        
    }
    .linhvuccha {
        width: 300px;
        background-color: #0075bf;
        border-radius: unset;
        font-size:18px;
        color:white;
    }

    .linhvuccon {
        width: 300px;
        background-color: antiquewhite;
    }
    .linhvuccon div{
       border-top:solid 1px;
      
    }
    .linhvuccon div:nth-child(1)
    {
        border-top:unset;
    }
</style>


<div id="lvcontainer">
    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvkeysight" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        THIÊT BỊ HÃNG KEYSIGHT
    </div>

    <div class="collapse linhvuccon" id="lvkeysight">

        <div>
            Máy hiện sóng / Oscilloscope
        </div>
        <div>
            Máy đo điện trở cách điện / Insulation Resistance Tester
        </div>
        <div>
            Thiết bị hiệu chuẩn / Multi-function Calibrator
        </div>
        <div>
            Thiết bị đo ảnh nhiệt / Thermal Imager
        </div>
        <div>
            Đồng hồ Ampe kìm / Clamp Meter
        </div>
        <div>
            Đồng hồ đa năng / Multimeter
        </div>
        <div>
            Đồng hồ đo LCR / LCR Meter
        </div>
    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvcokhi" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC CƠ KHÍ CHÍNH XÁC
    </div>

    <div class="collapse linhvuccon" id="lvcokhi">

        <div>
            Thước cặp / Caliper
        </div>
        <div>
            Panme đo ngoài / Outside Micrometer
        </div>
        <div>
            Panme đo trong / Inside Micrometer
        </div>
        <div>
            Đồng hồ so điện tử / Digital Indicator
        </div>
        <div>
            Đồng hồ so cơ khí / Dial Indicator
        </div>
        <div>
            Thước đo độ dày / Thickness gauge
        </div>
        <div>
            Thước đo độ sâu / Depth gauge
        </div>
        <div>
            Thước đo chiều cao / Height gauge
        </div>
        <div>
            Đế từ gá đồng hồ so / Magnetic Stands
        </div>
        <div>
            Máy đo độ nhám /  Surface Roughness Tester
        </div>


    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvnhiet" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC NHIỆT- NHIỆT &amp; ẨM
    </div>

    <div class="collapse linhvuccon" id="lvnhiet">

        <div>
            Máy đo nhiệt độ hồng ngoại / IR Thermometer
        </div>
        <div>
            Máy đo nhiệt độ / Thermometer
        </div>
        <div>
            Máy độ nhiệt độ &amp; độ ẩm / Thermo Hygrometer
        </div>
    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvhoaly" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC HOÁ-LÝ-THỂ TÍCH
    </div>

    <div class="collapse linhvuccon" id="lvhoaly">

        <div>
            Máy đo độ dẫn điện / Conductivity Meter
        </div>
        <div>
            Máy đo pH / pH Meter
        </div>
        <div>
            Dung dịch / Solution
        </div>
    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvdocung" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC LỰC-ĐỘ CỨNG
    </div>

    <div class="collapse linhvuccon" id="lvdocung">

        <div>
            Máy đo độ cứng
        </div>

    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvkhoiluong" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC KHỐI LƯỢNG
    </div>

    <div class="collapse linhvuccon" id="lvkhoiluong">

        <div>
            Cân kỹ thuật
        </div>
        <div>
            Cân phân tích / Analytical Balance
        </div>
        <div>
            Cân bàn
        </div>
        <div>
            Qủa cân chuẩn / Standard Weight
        </div>
    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvapsuat" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC ĐIỆN
    </div>

    <div class="collapse linhvuccon" id="lvapsuat">

        <div>
            Đồng hồ đa năng / Multimeter
        </div>
        <div>
            Ampe kìm / Clamp Meter
        </div>

    </div>

    <div class="navbar-toggler linhvuccha" type="button" data-toggle="collapse" data-target="#lvdien" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        LĨNH VỰC KHÁC
    </div>

    <div class="collapse linhvuccon" id="lvdien">

        <div>
            Máy đo ánh sáng / Light meter
        </div>

    </div>
</div>

