@font-face {
    font-family: 'fontawesome';
    src: url('../../Icons/webfonts/fa-brands-400.ttf') format('truetype');
}
body {
    position: relative;
    min-height: 100%;
    top: 0px;
    padding:unset;
    transition:all 250s ease-in-out;
}

.logo{
    height:95px;
    width:auto;
}
.Company {
    position: relative;
    top: 15px;
}
    .Company h3 {
        font-family: fontawesome;
        font-size: 20px;
    }

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1000 !important;
}
.Topnav {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    z-index: 2;
    background-color: #0075bf;
    color: white;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
}
    .Topnav a:hover {
        background-color: #0988c7;
        color: white !important;
        text-decoration: none;
        cursor: pointer;
    }

    .Topnav div div.Bar {
        display: inline-flex;
    }

.icon {
    padding: 18px 35px !important;
    font-size: 24px !important;
}
a.Topnav-item {
    color:white;
    padding: 15px 35px;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-size:20px;
}
.Search {
    padding: 0px 5px 0px 5px;
    display: inline-flex;
    outline: 0;
    font-size: 20px;
}
    .Search input{
        width:auto;
        max-width:150px;
    }
.CategoryChoice {
    text-align:center;
}
    .CategoryChoice h2 {
        margin-top: 1%;
        color: #0075bf;
    }
    .CategoryChoice .row .col-md-4  {
        margin:30px 0 0 0;
    }

.CategoryChoice .row .col-md-4 div {
    margin: 0px 15px 0px 15px;
    height: 100%;
    background-color:white;
    text-align: center;
    transition: all 0.2s linear;
    box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
    -webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
    -moz-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
    -o-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
}
    .CategoryChoice .row .col-md-4 .Service {
        margin: 0px 15px 0px 15px;
        height: 100%;
        padding-top: 30px;
        text-align: center;
        box-shadow:unset;
    }

    .CategoryChoice .row .col-md-4 div h4 {
        text-align: center;
        font-family: fontawesome;
        letter-spacing: 2px;
        background-color: white;
        margin: unset
    }
.Services {
    background-image: linear-gradient(to right,white,#F7A747,white);
}
.Services.line{
    padding-top:17px;
    padding-bottom:16px;
}
div.Title-softbtn {
    text-align: right
}
a.Title-softbtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff !important;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}
    a.Title-softbtn:hover {
        color: #000000 !important;
        background-color: #fff;
    }
.Whyus{
    margin-top:30px;
    text-align:center;
}

.Category {
    border: solid;
    border-color: #BBC3C6;
    border-radius: 5px;
    border-width: 1px;
}

.Productlist {
    border: solid;
    border-color: #BBC3C6;
    border-radius: 5px;
    border-width: 1px;
}








.Footercontent{
    padding:unset;
    margin:unset;
    font-size:small;
}
.Footeractive {
    padding: unset;
    margin: unset;
    font-size: small;
}
.Footeractive:hover{
    text-decoration:none;
    border-bottom:solid;
    border-bottom-color:whitesmoke;
    cursor: pointer;
}
.Baner-img {
    width: 100%;
}
.Caroselfix1{
    left:2%;
    top:1%
}
    .Caroselfix1 h2 {
        top: 100px;
        right: 50px;
        text-align: left;
        color: #ffffffb3;
        text-shadow: 0px 0px 20px white;
    }
.Caroselfix2 {
    right: 1%;
    top: 30%
}
.Caroselfix2 h2 {
    top: 100px;
    right: 50px;
    text-align: right;
    color: #ffffffb3;
    text-shadow: 0px 0px 20px white;
}
.Caroselfix3{
    left:15%;
    right:unset;
    top: 25%;
}
    .Caroselfix3 h2 {
        top: 100px;
        right: 50px;
        color: #ffffffb3;
        text-shadow: 0px 0px 20px white;
    }
.CaroselBtn{
    opacity:0;
}
a.Footerlink {
    color: white;
}
a.Footerlink:hover{
    color:white;
    text-decoration:none;
    border-bottom:solid;
}
i.icons:hover{
    color:#ECECEC !important;
    cursor:pointer;
}
/*AboutUs*/
.AboutUs{
    padding:2% 10% 10% 10%; 
}
    .AboutUs h2 {
        font-family: fontawesome;
        letter-spacing: 3px;
        color: #3A5199;
    }

/*ContactUs*/
.ContactUs {    
    width: 100%;
    height:auto;
}
    .ContactUs h2 {
        font-family: fontawesome;
        letter-spacing: 3px;
        color: #3A5199;
    }
    .ContactUs input,textarea{
        max-width:none;
    }

/*Question*/
.title_news_detail {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #00609c;
    margin: 0;        
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
h2.Question-title {
    font-size: 2.5rem !important;
    text-align:center;
    padding-left:unset;
}